.iContainer{
    margin:6rem 0 2rem 0;;
}
.iRow{
    display: flex;
}
.iImg{
    width:100%;
    height:100%;
}

.iTitle{
    margin-bottom: 1.5rem;
    font-family: Brownstdlight;
    color: #959595;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instaIconStyle{
   padding-left:0.8rem
}

