.productLists{
    position: relative;
}

.para{  
    text-align: center;
    color:gray;
    font-size:2vw;
    padding-top:4%;
}

.productListsImgs{
    width: 33rem;
    height: 33rem;
    object-fit: cover;
}

.productListsdiv{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 6rem 0;
}

.labelStyle{
font-size: 0.8vw;
line-height: 3;
width:15rem;
padding:0 ;
margin:0;
background-color: #ffffff;
color:#777575;
transform: translate3d(7rem, -7rem, -1rem);
font-family: "Brownstdregular";
margin-bottom: -3rem;
text-align: center;
}